.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  list-style: none;
}

.header__links-list-item {
  font-size: 18px;
  line-height: 21.13px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid currentColor;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  width: 148px;
  justify-self: center;
}

.header__logo-image {
  display: block;
  height: 105px;
  object-fit: contain;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.address__link {
  border-bottom: 1px solid currentColor;
  text-decoration: none;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  padding: 165px 50px 51px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  margin-bottom: 135px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  margin-top: 20px;
  line-height: 100%;
  text-align: center;
}

.aligned-text_right {
  margin-top: 20px;
  line-height: 100%;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 12px 24px;
}

.cover__description-text {
  padding-top: 12px;
  padding-left: 82px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  flex-shrink: 0;
  align-self: flex-end;
  margin-right: 0;
  margin-bottom: 0;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-family: inherit;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.lots {
  padding: 179px 50px 146px;
}

.lots__heading {
  margin-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 2;
  padding: 48px 40px 0;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  padding: 0 40px 48px;
  color: #fff;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  border-bottom: 1px solid currentColor;
  font-size: 20px;
  line-height: normal;
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 148px 50px 0;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about__column_content {
  align-items: stretch;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: auto;
  object-fit: contain;
}

.about__title {
  margin: 98px 0 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 24px;
}

.about__text p:first-child {
  margin-bottom: 25px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 180px 50px 90px;
}

.footer .address {
  max-width: none;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-list-item {
  font-size: 18px;
  line-height: 21.13px;
  list-style: none;
}

.footer__menu-link {
  border-bottom: 1px solid currentColor;
  text-decoration: none;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
  height: 100%;
  border-bottom: none;
  text-decoration: none;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
  object-fit: contain;
}
